.JodelGrid{
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: 1fr 4fr 1fr;
  border: #323232;
}
.sidebar {
  grid-column: 1;
  grid-row: 1;
  background-color: #709CA7;
  
}

.displayZone {
  grid-column: 2;
  grid-row: 1;
  background-color: white;
}

.parameterBar{
  grid-column: 3;
  grid-row: 1;
  background-color: #709CA7;
  border: #323232;
}

.displayZone{
  grid-template-rows: 50px 1fr;
  display: grid;
}

#displayZoneTabs{
  grid-column: 1;
  grid-row: 1;
}

#chartsZone{
  grid-column: 1;
  grid-row: 2;
}