.JodelGrid{
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: 1fr 2fr 225px;
  grid-gap: 0.5em;
}
.sidebar {
  grid-column: 1;
  grid-row: 1;
}
.displayZone {
  grid-column: 2;
  grid-row: 1;
}

.parameterBar{
  grid-column: 3;
  grid-row: 1;
}

.displayZone{
  grid-template-rows: max-content 1fr;
  display: grid;
}

#displayZoneTabs{
  grid-column: 1;
  grid-row: 1;
}

#chartsZone{
  grid-column: 1;
  grid-row: 2;
}