.header {
    display: grid;
    grid-gap: 1em;
    grid-template-columns: 200px 1fr 1fr 100px;
    grid-template-rows: 100%;
}


.logo0 {
    grid-column: 1;
    grid-row: 1;
}

#btn-BDD {
    grid-column: 2;
    grid-row: 1;
}

#btn-Jodel {
    grid-column: 3;
    grid-row: 1;
}

.logo1 {
    grid-column: 4;
    grid-row: 1;
    align-self: end;
}

.footer {
    display: grid;
    grid-gap: 0.1em;
    grid-template-columns: 155px 1fr 100px;
    grid-template-rows: 100%;
    align-items: center;
    justify-items: center;
}

.logo3{
    grid-column: 1;
    grid-row: 1;
}

.copyright{
    grid-column: 2;
    grid-row: 1;
}


.logo2{
    grid-column: 3;
    grid-row: 1;
}
