input:invalid {
    border: 1px dashed red;
    background-color: lightcoral;
  }
  
input:valid {
    border: 1px solid green;
    background-color: lightgreen;
}

input[type="file"] {
  display:none;
}

.FileContainer {
  display: none;
}

input[type="color"] {
  padding: 0px 0px;
  border: none;
}

input[id="IgnoreNumber1"] {
  background-color: white;
  width: 5vw;
}
.select{
  background-color: rgb(230, 230, 230);
  font-size: 1em;
}

