input:invalid {
    border: 1px dashed red;
    background-color: lightcoral;
  }
  
input:valid {
    border: 1px solid green;
    background-color: lightgreen;
}

input[type="file"] {
  display:none;
}

.FileContainer {
  display: none;
}

input[type="color"] {
  background-color: transparent;
  width: 50px;

}


.select{
  background-color: white;
  font-size: 0.7vw;
}
