html, 
body{
  position:fixed;
  top:0;
  bottom: 0;
  left:0;
  right:0;
    font-size: 0.9em;
  font-family: 'Bowlby One', sans-serif;
}

body {
  padding: 0px;
  margin: 0.5em;
  background-color:#B8CBD0;
  box-sizing: border-box;
  font-size: 0.9em;
  font-family: 'Bowlby One', sans-serif;
}


#folderInput {
  display: none;
}


.img-fluid{
  width: 15%;
  justify-content: right;
  justify-self: right;
}

footer {
  padding: 0px 0px;
  background: #323232;
  color: white;
  height: 4%;
  display: inline;
}
