html, 
body{
  height: 1fr;
  width: 100%;
  top:0;
  bottom: 0;
  left:0;
  right:0;
    font-size: 0.9em;
  font-family: 'Bowlby One', sans-serif;
}

body {
  margin: 0.5em;
  background-color:#B8CBD0;
  box-sizing: border-box;
  font-size: 0.9em;
  font-family: 'Bowlby One', sans-serif;
}


#folderInput {
  display: none;
}


.img-fluid{
  width: 15%;
  justify-content: right;
  justify-self: right;
}

footer {
  position: fixed;
  bottom: 0;
  left:0;
  height: 30px;
  padding: 0px 0px;
  background-color: #323232;
  color: white;
  display: inline;
  width: 100%;
}

header {
  position: fixed;
  height: 40px;
  width: 100%;
  background-color: #323232;;
}

.mainTabContent{
  position: fixed;
  height: 50%;
  padding-top: 50px;
  padding-bottom: 50px;
  margin-top: 10px;
  margin-bottom: 10px;

}
