.btn-1 {
	color: black !important;
	text-transform: uppercase;
	text-decoration: none;
	background: rgb(255,202,202);
	padding: 5px;
	display: inline-block;
	border: none;
	transition: all 0.4s ease 0s;
	border-radius: 15px;
	margin: 5px;
}

.btn-1:hover {
	background: #434343;
	letter-spacing: 1px;
	color: white;
	-webkit-box-shadow: 0px 5px 40px -10px rgba(0,0,0,0.57);
	-moz-box-shadow: 0px 5px 40px -10px rgba(0,0,0,0.57);
	box-shadow: 5px 40px -10px rgba(0,0,0,0.57);
	transition: all 0.4s ease 0s;
}

.btn-2 {
	color: black !important;
	text-transform: uppercase;
	text-decoration: none;
	background: rgb(194,244,173);
	padding: 20px;
	display: inline-block;
	border: none;
	transition: all 0.4s ease 0s;
	border-radius: 15px;
	margin: 5px;
}

.btn-2:hover {
	background: #434343;
	letter-spacing: 1px;
	color: white;
	-webkit-box-shadow: 0px 5px 40px -10px rgba(0,0,0,0.57);
	-moz-box-shadow: 0px 5px 40px -10px rgba(0,0,0,0.57);
	box-shadow: 5px 40px -10px rgba(0,0,0,0.57);
	transition: all 0.4s ease 0s;
}