.btn2-hover {
  font-weight: 500;
  width: 7vw;
  height: 3vw;
  font-size: 0.85vw;
  color: #fff;
  cursor: pointer;
  margin: 0px;
  text-align:center;
  border: none;
  background-size: 300% 100%;
  border-radius: 0.5vw;
  -moz-transition: all .4s ease-in-out;
  -o-transition: all .4s ease-in-out;
  -webkit-transition: all .4s ease-in-out;
  transition: all .4s ease-in-out;
}

.btn2-hover:hover {
  background-position: 100% 0;
  -moz-transition: all .4s ease-in-out;
  -o-transition: all .4s ease-in-out;
  -webkit-transition: all .4s ease-in-out;
  transition: all .4s ease-in-out;
}

.btn2-hover:focus {
  outline: none;
}

.btn2-hover.bn22 {
    background-image: linear-gradient(
      to right,
      #0ba360,
      #3cba92,
      #30dd8a,
      #2bb673
    );
    box-shadow: 0 0.2vw 0.5vw 0 rgba(23, 168, 108, 0.75);
}