#fileInput {
    display: none;
  }
  
  #fileInput2 {
    display: none;
  }
  
  
  .FileContainer {
    display: none;
  }

  #ratioControl{
    display: inline;
  }

  #X_input {
    width: 50px;
  }

  #Y_input {
    width: 50px;
  }

  #Z_input {
    width: 50px;
  }

  
  #chart0{
    height:100%;
    width:100%;
    background-color: white;
  }
  
  #chart1{
    height:100%;
    width:100%;
  }

  .wrapperMapDisplay {
    display: grid;
    grid-template-columns: 3fr 1fr;
    grid-gap: 0px;
    grid-auto-rows: minmax(100%, auto);
    margin: auto;
    width: 100%;
  }
  
  #subchart31 {
    grid-column: 1;
    grid-row: 1;
    height:100%;
  }

  #subchart32  {
    grid-column: 2;
    grid-row: 1;
    height: 100%;
    width: fit-content;
    background-color: white;
    border: 1px;
    border-color: black;
    margin-right: 5px;
  }
  
  #filter1 {
    height:300px;
    width: 45%;
  }
  
  #subfilter1 {
    height: 300px;
    width: 42%;
  }
  
  
  .wrapperJODEL {
    display: grid;
    grid-template-columns: 1fr 3fr;
    grid-gap: 0px;
    grid-auto-rows: minmax(100%, auto);
    margin: auto;
    height: 100%;
  }
  
  .FileColumn {
    grid-column: 1;
    grid-row: 1;
    height:100%;
  }

  .DisplayZone {
    grid-column: 2;
    grid-row: 1;
    height: 100%;
    width: fit-content;
    background-color: white;
    border: 1px;
    border-color: black;
    margin-right: 5px;
  }
 