input:invalid {
    border: 1px dashed red;
    background-color: lightcoral;
  }
  
input:valid {
    border: 1px solid green;
    background-color: lightgreen;
}

#fileInput {
  display: none;
}

#fileInput2 {
  display: none;
}

.FileContainer {
  display: none;
}

input[type="color"] {
  background-color: transparent;
  width: 50px;

}

