
  #ratioControl{
    display: inline;
  }

  #X_input {
    width: 30px;
    background-color: white;
  }

  #Y_input {
    width: 30px;
    background-color: white;
  }

  #Z_input {
    width: 30px;
    background-color: white;
  }