.sidebar{
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-gap: 10px;
  grid-template-rows: max-content max-content 30px 20% 10% 20%;
}
#addPointset {
  grid-column: 1;
  grid-row: 1;
}
#addSurface {
  grid-column: 2;
  grid-row: 1;
}
#addLines {
  grid-column: 3;
  grid-row: 1;
}
#exportSamples {
  grid-column: 4;
  grid-row: 1;
}
#table-zone {
  grid-column: 1 / 5;
  grid-row: 2;
}
#selectAll {
  grid-column: 3;
  grid-row: 3;
}
#filter1 {
  grid-column: 1 / 3;
  grid-row: 4;
}
#subfilter1 {
  grid-column: 3 / 5;
  grid-row: 4;
}
#miniInfoDisp {
  grid-column: 1;
  grid-row: 3;
}

#analysisCheckBox{
  grid-column: 1 / 5;
  grid-row: 5;
}

#filter2 {
  grid-column: 1 / 3;
  grid-row: 6;
}
#subfilter2 {
  grid-column: 3 / 5;
  grid-row: 6;
}

#myGrid > div {
  background: gray;
}