.sideParameters{
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: 100%;
  grid-gap: 10px;
  grid-template-rows: max-content 30px auto auto;
}

#ratioControl {
  grid-column: 1;
  grid-row: 1;
  }

#num-classes {
  grid-column: 1;
  grid-row: 2;
  width: 50px;
}

#color-table-zone {
  grid-column: 1;
  grid-row: 5;
}

.colorSelect{
  display: inline-block;
  grid-column: 1;
  grid-row: 3;
}
