.sideParameters{
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: 50% 50%;
  grid-gap: 10px;
  grid-template-rows: auto 30px 1fr;
}

#ratioControl {
  grid-column: 1;
  grid-row: 1;
  }

#num-classes {
  grid-column: 1;
  grid-row: 2;
}

#scheme {
  grid-column: 2;
  grid-row: 1;
}

#color-table-zone {
  grid-column: 1 / 3;
  grid-row: 3;
}