/* Style tab links */
.tablink {
  background-color: #555;
  color: white;
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 14px 16px;
  font-size: 17px;
  width: 25%;
}

.tablink:hover {
  background-color: #777;
}

/* Style the tab content (and add height:100% for full page content) */
.tabcontent {
  color: white;
  display: none;
  padding: 100px 20px;
  height: 100%;
}

.tabcontent2 {
  color: white;
  padding: 100px 20px;
}

#Historical {background-color: rgb(255,202,202);}
#New {background-color: rgb(194,244,173);}
#Jodel {background-color: rgb(179,227,228);}